/*font Variables*/

$primary-font: 'Roboto',
sans-serif;
$title-font: 'Poppins',
sans-serif;
/*Color Variables*/

$primary-color: #383838;
$primary-color2: #ffffff;
$title-color: #0d0d0d;
$text-color: #777777;
$main-green: #62038b;
$main-blue: #004875;
$main-red: #790000;
$main-yellow: #7a5300;
/*=================== fonts ====================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400,500,500i');