/*font Variables*/

$primary-font: 'Roboto',
sans-serif;
$title-font: 'Poppins',
sans-serif;
/*Color Variables*/

$primary-color: #000000;
$primary-color2: #ffffff;
$title-color: #0d0d0d;
$text-color: #777777;
/*=================== fonts ====================*/

@import url('https://fonts.googleapis.com/css?family=Poppins:700|Roboto:400,500,500i');