
<!--================ Start Portfolio Area =================-->
<section class="section_gap portfolio_area" id="work">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="main-title">
                    <h1>Latest Works</h1>
                    <p>I enjoy a variety of projects and activities.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="projects_fillter">
                    <ul class="filter list">
                        <li class="active" data-filter="*">All Categories</li>
                        <li data-filter=".engineering">Engineering</li>
                        <li data-filter=".design">Design</li>
                        <li data-filter=".art">Art</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="projects_inner row grid">
            <div class="grid-sizer col-sm-6 col-md-3 col-lg-3"></div>
            <div class="col-lg-6 col-sm-6 col-sm-12 design engineering grid-item">
                <div class="projects_item">
                    <img class="img-fluid w-100" src="img/works/robotics.jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>Robotics: Team 6502 DARC SIDE</h4>
                        </a>
                        <p>High School FRC</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-sm-12 design engineering grid-item">
                <div class="projects_item">
                    <img class="img-fluid w-100" src="img/works/wing.jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>FPV Racing Wing</h4>
                        </a>
                        <p>Building a RC Flying Wing</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 work grid-item">
                <div class="projects_item">
                    <img class="img-fluid w-100" src="img/works/...jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>2D Vinyl Design</h4>
                        </a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 brand work grid-item">
                <div class="projects_item">
                    <img class="img-fluid w-100" src="img/works/...jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>2D Vinyl Design</h4>
                        </a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 brand web grid-item">
                <div class="projects_item">
                    <img class="img-fluid w-100" src="img/works/....jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>2D Vinyl Design</h4>
                        </a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 brand work web grid-item">
                <div class="projects_item">
                    <img class="img-fluid w-100" src="img/works/...jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>2D Vinyl Design</h4>
                        </a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 brand work web grid-item">
                <div class="projects_item">
                    <img class="img-fluid w-100" src="img/works/....jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>2D Vinyl Design</h4>
                        </a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 brand work web grid-item">
                <div class="projects_item">
                    <img class="img-fluid w-100" src="img/works/....jpg" alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>2D Vinyl Design</h4>
                        </a>
                        <p>Client Project</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Portfolio Area =================-->